[Unit]
Description=Avahi Aliases
Requires=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/avahi-alias start
ExecStop=/usr/local/bin/avahi-alias stop
ExecReload=/usr/local/bin/avahi-alias restart
Restart=always

[Install]
WantedBy=multi-user.target
