[defaults]
roles_path = ./.ansible/roles:./roles
collections_path = ./.ansible/collections:./collections
inventory = inventory
result_format = yaml
remote_tmp = ~/.ansible/tmp

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
