version: "3.8"

services:

  nginx-proxy:
    container_name: nginx-proxy
    hostname: nginx-proxy.{{ rpi_hostname }}
    image: nginxproxy/nginx-proxy:1.1.0
    restart: always
    privileged: {{ (molecule_yml is defined) | string | lower }}
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
{% for f in rpi_docker_compose_project_config.nginx_conf_files %}
      - ./nginx/conf.d/{{ f }}:/etc/nginx/conf.d/{{ f }}:ro
{% endfor %}

  docker-proxy:
    container_name: docker-proxy
    hostname: docker-proxy.{{ rpi_hostname }}
    image: tecnativa/docker-socket-proxy:0.1.1
    restart: always
    privileged: {{ (molecule_yml is defined) | string | lower }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=2

  jump:
    container_name: jump
    hostname: jump.{{ rpi_hostname }}
    restart: always
    privileged: {{ (molecule_yml is defined) | string | lower }}
    image: daledavies/jump:v1.3.0
    expose:
      - 8080
    volumes:
      - ./jump/backgrounds:/backgrounds
      - ./jump/favicon:/favicon
      - ./jump/sites:/sites
    environment:
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.jump }}
      - VIRTUAL_PORT=8080
      - SHOWCLOCK=true
      - AMPMCLOCK=false
      - SITENAME={{ rpi_docker_compose_project|title }}
{% if rpi_open_weather_map_key is defined %}
      - OWMAPIKEY={{ rpi_open_weather_map_key }}
{% endif %}
{% if rpi_latlong is defined %}
      - LATLONG={{ rpi_latlong }}
{% endif %}

  whoami:
    container_name: whoami
    hostname: whoami.{{ rpi_hostname }}
    image: traefik/whoami:v1.8.7
    restart: always
    privileged: {{ (molecule_yml is defined) | string | lower }}
    environment:
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.whoami }}
      - WHOAMI_NAME={{ rpi_hostname }}

  netdata:
    container_name: netdata
    hostname: netdata.{{ rpi_hostname }}
    image: netdata/netdata:v1.36.1
    restart: always
    privileged: {{ (molecule_yml is defined) | string | lower }}
    expose:
      - "19999"
    volumes:
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/os-release:/host/etc/os-release:ro
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor=unconfined
    environment:
      - DOCKER_HOST=docker-proxy:2375
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.netdata }}
      - VIRTUAL_PORT=19999
      - VIRTUALIZATION=kvm
      - PGID=999

  octoprint:
    container_name: octoprint
    hostname: octoprint.{{ rpi_hostname }}
    image: octoprint/octoprint:1.8.6
    restart: always
    privileged: {{ (molecule_yml is defined) | string | lower }}
    environment:
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.octoprint }}
      - ENABLE_MJPG_STREAMER=true
    volumes:
      - octoprint:/octoprint
{% if video_device.stat.exists or printer_device.stat.exists %}
    devices:
{% if video_device.stat.exists %}
      - /dev/video0:/dev/video0
{% endif %}
{% if printer_device.stat.exists %}
      - /dev/ttyUSB0:/dev/ttyUSB0
{% endif %}
{% endif %}

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
  octoprint:
  dnsmasq.d:
