version: "3.8"

services:

  nginx-proxy:
    container_name: nginx-proxy
    hostname: nginx-proxy.{{ rpi_hostname }}
    image: nginxproxy/nginx-proxy:0.10.0
    restart: always
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro

  docker-proxy:
    container_name: docker-proxy
    hostname: docker-proxy.{{ rpi_hostname }}
    image: tecnativa/docker-socket-proxy:0.1.1
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=2

  whoami:
    container_name: whoami
    hostname: whoami.{{ rpi_hostname }}
    image: traefik/whoami:v1.7.1
    restart: always
    environment:
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.whoami }}
      - WHOAMI_NAME={{ rpi_hostname }}

  netdata:
    container_name: netdata
    hostname: netdata.{{ rpi_hostname }}
    image: netdata/netdata:v1.33.0
    restart: always
    expose:
      - "19999"
    volumes:
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/os-release:/host/etc/os-release:ro
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor=unconfined
    environment:
      - DOCKER_HOST=docker-proxy:2375
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.netdata }}
      - VIRTUAL_PORT=19999
      - VIRTUALIZATION=kvm
      - PGID=999

  octoprint:
    container_name: octoprint
    hostname: octoprint.{{ rpi_hostname }}
    image: octoprint/octoprint:1.7.3
    restart: always
    environment:
      - VIRTUAL_HOST={{ rpi_docker_compose_project_config.virtual_hosts.octoprint }}
      - ENABLE_MJPG_STREAMER=true
    volumes:
      - octoprint:/octoprint
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/video0:/dev/video0

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
  octoprint:
  dnsmasq.d:
