{
    "default": {
        "nofollow": true,
        "newtab": true
    },
    "sites": [
        {
            "name": "whoami",
            "url" : "http://{{ rpi_docker_compose_project_config.virtual_hosts.whoami }}",
            "icon": "whoami.png",
            "description": "OS information about who I am",
            "tags": ["all", "system"]
        },
        {
            "name": "netdata",
            "url" : "http://{{ rpi_docker_compose_project_config.virtual_hosts.netdata }}",
            "icon": "netdata.webp",
            "description": "Real-time performance monitoring",
            "tags": ["all", "system"]
        },
        {
            "name": "octoprint",
            "url" : "http://{{ rpi_docker_compose_project_config.virtual_hosts.octoprint }}",
            "icon": "octoprint.png",
            "description": "OctoPrint is the snappy web interface for your 3D printer!",
            "tags": ["all", "home"]
        }
    ]
}
