{
    "default": {
        "nofollow": true,
        "newtab": true
    },
    "sites": [
        {
            "name": "Whoami",
            "url" : "http://{{ rpi_docker_compose_project_config.virtual_hosts.whoami }}"
        }
    ]
}
